html body {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	
}
h2 {
    text-align: center;
    font-weight: bold;
}
.navbar-brand h2 {
    margin: 0;
    max-width: 300px;
    color: #fff;
    text-align: center;
}
.header {
    margin: 0 auto;
    max-width: 1920px;
}
.navbar-header {
    background-color: #5c7274;
}
#example-navbar-collapse {
    margin: 0 auto;
    max-width: 1920px;
    background-color: #5c7274;
}
#example-navbar-collapse li a {
    margin: 0 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#example-navbar-collapse li a:hover {
	color: #fff;
    background-color: #c5d5cb;
}
.container {
   margin: 0 auto;
   padding: 0 0;
   width: 100%;
   height: 100%;
   background-color: #e9ece5;
}
.content {
    margin: 20px auto;
    padding: 20px 20px 20px 30px;
    font-size: 15px;;
    text-align: center;
}
#about {
    margin-bottom: 100px;
    padding: 15% 7%;
    font-size: 25px;
    line-height: 2em;
}
#portfolio {
    margin-bottom: 50px;
    padding: 15% 0;
    max-width: 1920px;
    height: 100%;
}
.img-show {
    margin: 0 auto;
    width: 100%;
}
.img-portfolio {
    padding: 10px 10px;
    display: inline-block;
}
.img-portfolio img {
    margin: 20px 0;
    width: 370px;
    height: 370px;
    border: 5px white solid;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.img-portfolio img:hover {
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
}
#contact {
    margin-top: 20px;
    padding-top: 5%;
    width: 100%;
}
.mycontact {
    margin: 50px 0;
    display: flex;
}
.send {
    margin: 0 50px;
    width: 300px;
    clear: both;
}
.send input {
	width: 100%;
	height: 30px;
	font-size: 13px;
	padding: 6px 0 4px 4px;
	border: 1px solid #9fa8a3;
	background: #fff;
	border-radius: 8px;
	outline: none;
	box-shadow: 0 0 25px #9fa8a3;
    -webkit-box-shadow: 0 0 25px #9fa8a3;
    -moz-box-shadow: 0 0 25px #9fa8a3;
}
.send input:hover{
    background-color: #f3f6f4;
}
.send textarea {
	overflow: auto;
	resize: none;
	width: 100%;
	height: 100px;
	background: #fff;
	border: 1px solid #9fa8a3;
	border-radius: 8px;
	padding: 5px 5px;
	outline: none;
	font-size: 13px;
	box-shadow: 0 0 25px #9fa8a3;
    -webkit-box-shadow: 0 0 25px #9fa8a3;
    -moz-box-shadow: 0 0 25px #9fa8a3;
}
.send textarea:hover {
    background-color: #f3f6f4;
}
#btn-send {
    margin-top: 10px;
    width: 100px;
    border: 1px solid #9fa8a3;
    color:  #696969;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 25px #9fa8a3;
	border-radius: 8px;
	padding: 5px 5px;
	outline: none;
    box-shadow: 0 0 25px #9fa8a3;
    -webkit-box-shadow: 0 0 25px #9fa8a3;
    -moz-box-shadow: 0 0 25px #9fa8a3;
}
#btn-send:hover {
    background-color: #c5d5cb;
    color: #fff;
    font-size: 15px;
}
#map {
    float: right;
    width: 80%;
    height: 400px;
    background-color: grey;
}
#footer {
    background-color: #5c7274;
}
.mylink {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.mylink span {
    margin: 7px 5px;
}
.mylink span a i {
    color: #fff;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.mylink span a i:hover {
    color: #c5d5cb;
    opacity: 0.7;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}