#lightbox {
    position: fixed;
    top: 10px; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    text-align: center;
}
#lightbox img{
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    width: 1000px;
    height: 600px;
}
#lightbox i {
    margin-bottom: 20px;
    margin-left: 1000px;
    color: #fff;
    
     
}
