@media screen and (max-width: 750px) {
  #slideshow {
  margin: 0 auto;
  max-width: 750px;
  box-sizing: border-box;
}
.main_slide {
  margin: 0 auto;
  width: 100%;
}
.navigation ul {
  margin-top: 50px;
}
.navigation li a {
	display: block;
	margin-right: 10px;
}
#main-img {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
}