.slideshow {
    background-color: #9fa8a3;
    background: linear-gradient(#e9ece5, #9fa8a3, #e9ece5);
}
.main_slide {
    margin: 0 auto;
    width: 100%;
}
#main-img {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 1000px;
   
}
/*.slide_page1 {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}
.slide_imgshow1 {
    width: 1000px;
    height: 560px;
    box-sizing: border-box;
    border: 5px white solid;
    
} 
.slide_img1 img {
    width: 495px;
    height: 550px;
    float: left;
    box-sizing: border-box;
    border: 5px white solid;
}
.slide_img2 img {
    width: 495px;
    height: 275px;
    float: right;
    box-sizing: border-box;
    border: 5px white solid;
}
.slide_img3 img {
    width: 495px;
    height: 275px;
    float: right;
    bottom: 0;
    box-sizing: border-box;
    border: 5px white solid;
} 
.slide_page2 {
    
    width: 1000px;
    height: 500px;
}
.slide_imgshow2 {
    box-sizing: border-box;
    
} 
.slide_img4 img {
    margin: 0 auto;
    width: 450px;
    height: 400px;
    box-sizing: border-box;
    border: 10px white solid;
}
.slide_img5 img {
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 10px white solid;
}
.slide_img6 img {
    float: left;
    width: 300px;
    height: 300px;
    bottom: 0;
    box-sizing: border-box;
    border: 10px white solid;
} 
.slide_img7 img {
    float: right;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 10px white solid;
} 
.slide_img8 img {
    float: right;
    bottom: 0;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 10px white solid;
}*/
.slide {
    float: right;
    margin-right: 140px;
    z-index: 1;
}
.slide button {
    border: none;
    outline: none;
    background-color: #e9ece5;
    color: #696969;
}
.slide button i:hover {
    color: #9fa8a3;
}